.posts{
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 500px){
    .nav{
        z-index: 10px;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.3s ease-in-out;
    }

    .open{
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item{
        display: list-item;
        border-bottom: 1px solud #E0E0E0;
        width: 100%;
        text-align: left;
    }



}

@media screen and (min-width : 700px){
    .posts{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 10px;
    }


    .header__menu{
        display: none;
    }
}

@media screen and (min-width : 900px){
    .posts{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-column-gap: 10px;
    }

    .headline{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and(min-width : 1200px){
    main{
        max-width: 1100px;
    }
}


